@if (cargando) {
<div class="stats-grid fade-in delay-1">
    <div class="stat-card" *ngFor="let i of [1,2,3,4]">
        <div class="skeleton-icon"></div>
        <div class="skeleton-text">
            <div class="skeleton-val"></div>
            <div class="skeleton-lbl"></div>
        </div>
    </div>
</div>
} @else {
<div class="stats-grid fade-in delay-1">
    @for (stat of estadisticas; track stat.etiqueta) {
    <div class="stat-card hover-up">
        <div class="icon-box" [ngClass]="stat.clase">

            @switch (stat.icono) {
            @case ('check') {
            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="26" height="26">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            }
            @case ('briefcase') {
            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="26" height="26">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            }
            @case ('solicitud') {
            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="26" height="26">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
            </svg>
            }
            @case ('time') {
            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="26" height="26">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            }
            }

        </div>
        <div class="stat-info">
            <h3>{{ stat.valor }}</h3>
            <p>{{ stat.etiqueta }}</p>
        </div>
    </div>
    }
</div>
}