<main class="main-layout">
    <div class="content-container fade-in">

        <app-profile-banner [perfil]="perfilReal"></app-profile-banner>

        <app-profile-cards></app-profile-cards>

        <div class="layout-grid">

            <div class="left-column">
                <app-profile-contact [perfil]="perfilReal"></app-profile-contact>
                <app-profile-certifications></app-profile-certifications>
            </div>

            <div class="right-column">
            </div>

        </div>

    </div>
</main>